@import "tailwindcss";

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

#bookSlider {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#bookSlider::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}